/*Extra styling beyond what is available in bootstrap
*/

#previewArea{
	border-radius: 1px;
	border: 1px
}

#descriptionItems{
	list-style-type: none;
}
#inputFurnitureType{
	/*background-color: blue;*/
}