/*Extra styling beyond what is available in bootstrap
*/

#previewArea{
	border-radius: 1px;
	border: 1px
}

#descriptionItems{
	list-style-type: none;
}

.dropbox{
	border-radius: 3px;
	border: 1px solid gray;	
	width:100%;
	padding:1ppx;
	margin: 0px
	height:300px;
	text-align: center;
}
.thumb{
	height: 160px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}
